<a href="https://colab.research.google.com/github/Mariachittamadathil/natural_numbers.-py/blob/main/CST283.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**19 Jan 2022**

In [ ]:
# Print

print(1)
print('hello')

print(1, 'hello', 'Himagouri')

1
hello
1 hello Himagouri

In [ ]:
#Question
"Hello, World!"

In [ ]:
#Variables
a = 5
x = input("Enter x") # Accepts input as string by default
int_x = int(x) # Give meaningful names
              # camelCase or snake_case

print(int_x**2)

Enter x6
36

In [ ]:
# If-else
x = int(input())
if (x % 2 == 0):
  print('even')
else:
  print('odd')

5
odd

In [ ]:
# Accept input from the user
# print A  if number is between 1 and 10 (including 1 and 10)
#print B if number is between 11 and 20 (including 11 and 20)
#else print C

# Only the first satisying block in the if-elif-else will be executed
x = int(input())
if (x >= 1) and (x <= 10):
  print('A')
elif (x >= 11) and (x <= 20):
  print('B')
elif (x < 0):
  print('Negative')
else:
  print('C')

In [ ]:
'''If  n is odd, print Weird
If  n is even and in the inclusive range of  2 to 5 , print Not Weird
If  n is even and in the inclusive range of  6 to 20, print Weird
If  n is even and greater than 20, print Not Weird'''
    if (n % 2 == 1):
         print('Weird')
    elif (n >= 2 and n <= 5):
        print('Not Weird')
    elif (n >= 6 and n <= 20):
        print('Weird')
    elif n>20:
        print('Not Weird')

In [ ]:
# Arithmetic operators
a = 5
b = 7

print(a+b)
print(a-b)
print(a*b)
print(8/3) # float divisin
print(8//3) # integer division

12
-2
35
2.6666666666666665
2

In [ ]:
'''Input two integers a and b
print sum of the integers in first line
print difference (a - b) in second line
print product of integers in third line'''

a = int(input())
b = int(input())
print(a + b)
print(a - b)
print(a * b)

In [ ]:
# Functions


def square(x):
  return x**2

def add(a, b):
  return a+b

def complex_operation(x):
  a =  x**2 + x**3
  b = x**4
  return a + b

n = int(input()) # Get input n and perform various functions on n
print('Squares')
for i in range(1, n+1):
  print(square(i))

print('Complex operation on', n, 'gives',complex_operation(n))

print('Sum of',n,'+',n,'=',add(n, n))

3
Squares
1
4
9
Complex operation on 3 gives 117
Sum of 3 + 3 = 6

In [ ]:
x = '    5 ' 
x.strip() # Strips away empty spaces on both ends of the string

'5'

**21 Jan 2022**

In [ ]:
'''integer n from STDIN. For all non-negative integers i < n, print i^2.
Input
5
Ouput 
0
1
4
9
16'''

In [ ]:
n = int(input())
for i in range(n):
  print(i**2)

5
0
1
4
9
16

In [ ]:
'''The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.'''

In [ ]:
import calendar
def is_leap(year):
    # Write your logic here
    return calendar.isleap(year) 
    
print(is_leap(2300))

False

In [ ]:
# Data types in Python
# int, float, list, tuple, range, dict, set, bool

In [ ]:
# Get the type of a variable
# type()
x = 5
y = 7.5
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [ ]:
#int + int = int
type(x+5)
2/2 # division will be alway float
# int + float = float
a = 5
b = 5.5
print(type(a))
a = a + b
print(type(a))

# Convert type - give error if not compatibe
# int('a')

<class 'int'>
<class 'float'>

In [ ]:
float('80')

In [ ]:
# list
# group of related elements
# ordered
# Associate multiple values with one name
names = ['Sachin', 'Rahul', 'Laxman']
print(names[0], names[2]) # indexing

# different data types can be stored in same list
mixed_list = [1, 5.3, 'namessss']
#element from the end - use negative indexes
print(mixed_list[-1], mixed_list[-2])
print(mixed_list)

Sachin Laxman
namessss 5.3
[1, 5.3, 'namessss']

In [ ]:
numbers = [5,8,2,6,4,1]
print(numbers)
print(*numbers)
n_elems = len(numbers) # size of list or number of elements 
print(n_elems)
# iterate through the list
for i in range(n_elems):
  elem = numbers[i]
  print(elem)

In [ ]:
# simpler syntax
print('Simpler syntax')
for elem in numbers:
  print(elem)

In [ ]:
numbers = []
#append
print(numbers)
numbers.append(1)
print(numbers)
numbers.append(2)
print(numbers)
numbers.append(3)
print(numbers)

[]
[1]
[1, 2]
[1, 2, 3]

In [ ]:
# Accept 5 integers and append to the list
numbers = []
# numbers = list()
for i in range(5):
  numbers.append(int(input()))
print(numbers)

2
3
4
5
6
[2, 3, 4, 5, 6]

In [ ]:
# pick odd numbers
numbers = [2, 3, 4, 5, 6, 9, 11]
odd_numbers = []
for elem in numbers:
  if elem % 2 == 1:
    odd_numbers.append(elem)
print(odd_numbers)

[3, 5, 9, 11]

In [ ]:
# list comprehension
numbers = [2, 3, 4, 5, 6, 9, 11]
odd_numbers = [x for x in numbers if elem % 2 == 1]
print(odd_numbers)

[6, 10, 18, 22]

In [ ]:
#sort list in python (in-place)
numbers = [2, 5, 4, 1, 6, 8, 11]
print(numbers)
numbers.sort()
print(numbers)

[2, 5, 4, 1, 6, 8, 11]
[1, 2, 4, 5, 6, 8, 11]

In [ ]:
# sorted copy - orignial is retained
numbers = [2, 5, 4, 1, 6, 8, 11]
print(numbers)
s_numbers = sorted(numbers)
print(numbers)
print('sorted copy', s_numbers)

[2, 5, 4, 1, 6, 8, 11]
[2, 5, 4, 1, 6, 8, 11]
sorted copy [1, 2, 4, 5, 6, 8, 11]

**28 Jan 2022**

In [ ]:
#Range

# range(start, stop, step)

list(range(1,5,1))

[1, 2, 3, 4]

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(2,9, 2))

[2, 4, 6, 8]

In [ ]:
# Generate a list of 1 to 100
list(range(1,101))

In [ ]:
names = ['Aditya', 'Balu', 'Zeenath', 'Charu']
names.sort() # strings will be sorted alphabetically
names

['Aditya', 'Balu', 'Charu', 'Zeenath']

In [ ]:
# Accept n
# Accept n names into a list
# Sort the list alphabetically and display sorted

n = int(input())
names = []
for i in range(n):
  name = input('Enter name')
  names.append(name)
names.sort()
print(names)

3
Enter nameAfghfh
Enter namezerffh
Enter nameccafa
['Afghfh', 'ccafa', 'zerffh']

In [ ]:
a = [100,200,300,400,500]

# Slicing 
print(a[1:3]) # 
print(a[1:4:2])  #start index , stop index, step 

print(a[-2:-4:-1]) # slicing in reverse direction

print('all', a[:]) # all elements
print('reverse', a[::-1])

[200, 300]
[200, 400]
[400, 300]
all [100, 200, 300, 400, 500]
reverse [500, 400, 300, 200, 100]

In [ ]:
# Reverse a string - slice
name = "Sreeragh"
print('reverse', name[::-1])

reverse hgareerS

In [ ]:
# Remove
numbers = [100,151,200,151] 
numbers.remove(151)
numbers

[100, 200, 151]

In [ ]:
# Insert at an index position
months = ['jan', 'mar', 'apr']
print(months[1], months[2])
months.insert(1, 'feb')
print(months[1], months[2])

In [ ]:
# type()
type([1,2])

list

In [ ]:
# Modify elements in a list

months = ['jan', 'mar', 'apr']
months[1] = 'Mar'
months

['jan', 'Mar', 'apr']

In [ ]:
# List
# Ordered
# allow duplicate
# multiple values - one name
# index a[0], a[-1]
# slicing a[1:5]
# modification a[i] = x  (mutable)
# sort

In [ ]:
# Tuple
marks = (50,80,25) # creation
marks
print(marks[0]) # indexing
marks[0] = 100 # immutable

50

TypeError: ignored

In [ ]:
marks = (10,52,28) 
marks = list(marks) # convert
print('list', marks)
marks[0] = 100
marks
marks = tuple(marks)
marks

list [10, 52, 28]

(100, 52, 28)

In [ ]:
# Slice
marks = (150, 300,25,300)
marks[2:4]
# marks.sort()

(25, 300)

In [ ]:
marks = (1,2)
type(marks)

tuple

In [ ]:
# Set
#collection of values are under same name
# duplicates not allowed
# unordered
roll_numbers = {'gectcr1', 'gectcr1', 'gectcr3'}
roll_numbers

{'gectcr1', 'gectcr3'}

In [ ]:
fruits = {'apple', 'orange', 'banana'}
fruits

{'apple', 'banana', 'orange'}

In [ ]:
# Searching in set is quicker than searching in list
fruit_set = {'apple', 'banana', 'grapes'}
fruit_list = ['apple', 'banana', 'grapes']
'pine_apple' in fruit_set # Time for this operation is almost  independent on number of elements
'pine_apple' in fruit_list # Time will be proprotional to number of elements

False

In [ ]:
# Dict

# key-value pairs
price = {'banana': 50, 'pine_apple': 25 }
price['banana']

# Keys are unique

25, 31
# marks = [None, ....100.....NOne.. 99...NOne]
marks = {'student25': 100, 'student31': 99}
marks['student25']

{'banana': 50, 'pine_apple': 25}

In [ ]:
# Student details
# Name, branch, year
array_student = [{'Name': 'Mary', 'branch': 'CSE', 'year': 'second'}, {'Name': 'Charles', 'branch': 'CE', 'year': 'second'}]
names = []
branches = []
years =

In [ ]:
student = {} # Empty dict 
type(a)

# Create
student['name'] = 'Mary'
student['branch'] = 'EE'
student['cgpa'] = 5
# Access
print(student['cgpa']) # Give key error if key is not present
print(student.get('cgpa','default'))   # return default value if key is not
# dict_name.get(key, defaultvalue)

5

In [ ]:
student = {} # Empty dict 

# Create
student['name'] = 'Mary'
# Update
student['name'] = 'John'
student

{'name': 'John'}

In [ ]:
# Enter n - number of students
# Input student details name, branch and year
# store them in a list of dict

In [ ]:
student = {'Name': 'Mary', 'branch': 'CSE', 'year': 'second'}
keys = student.keys()
values = student.values()
#iterating through keys
for key in student:
  print(key)
  print(student[key])
# for key in student.keys():
#   print(key)

Name
Mary
branch
CSE
year
second

In [ ]:
student = {'Name': 'Mary', 'branch': 'CSE', 'year': 'second'}
keys = student.keys()
values = student.values()

print(keys)
print(values)

dict_keys(['Name', 'branch', 'year'])
dict_values(['Mary', 'CSE', 'second'])

In [ ]:
a = [0,1,2,3,4,5,6,7,8]
# a[2:5] # 2,3,4
#a[2:5:1]
a[1:7:3] # 1,4,
a[-1:-7:-1]

[8, 7, 6, 5, 4, 3]

**4 Feb 2022**

In [ ]:
# list - square brackets

a = []
a.append(5)

b = [5,6,9,8,2]
b

[5, 6, 9, 8, 2]

In [ ]:
students = [50, 201, 16, 5, 21, 8,90,2,99,17,20, 100, 50]
# marks of student 5 -10

students[5:11]

[8, 90, 2, 99, 17, 20]

In [ ]:
marks = [10,52,29,36]
marks.sort()

print(marks)

[10, 29, 36, 52]

In [ ]:
marks = [10,52,29,36]
marks[1] = 64
marks

100 in marks # membership

False

In [ ]:
# Tuple - simple brackets
names = ('Maria', 'John', 'Charles')
names
# Indexing
print(names[1])

# Immutable  - Static - doesnot item assignment
names[1] = 'Mary'

# It is simpler and faster than list

John

TypeError: ignored

In [ ]:
names = ('Maria', 'John', 'Charles')
names = ('Mary', 'John', 'Charles')
names[1:2]

names.sort()

AttributeError: ignored

In [ ]:
# Sets
s = {1,2,3,4, 2, 5}

TypeError: ignored

In [ ]:
s = set()
type(s)
s.add(5)
s
s.sort()

AttributeError: ignored

In [ ]:
available_courses = {'java', 'python', 'c++'}

user_course = input('Enter course ')

# 'perl' in courses # membership operator
if user_course in available_courses:
  print('available')
else:
  print('not available')

Enter course perl
not available

In [ ]:
# facebook
registered_users = {'abhi', 'jos', 'rekha'}
user_name =input('Username ')

if user_name in registered_users:
  print('Welcome')
else:
  registered_users.add(user_name)
  print('Registered')

print(registered_users)

Username george
Registered

In [ ]:
print(registered_users)
user_name =input('Username ')
if user_name in registered_users:
  print('Welcome')
else:
  registered_users.add(user_name)
  print('Registered')

{'abhi', 'george', 'jos', 'rekha'}
Username george
Welcome

In [ ]:
# Operations in sets(University)

# union, intersection, difference, symmetric_difference

a = {1,2,3} # fb
b = {2,5,8} # whatsapp

# {1,2,3,5,8}

a.union(b) # in atleast fb or whatspp
a.intersection(b) # both in fb and whatsapp
a.difference(b)  # Only in fb
a.symmetric_difference(b) # Only in one of fb or whatsapp

# compute all operations between b and a
# union, intersection, difference, symmetric_difference
b.union(a)

{1, 2, 3, 5, 8}

In [ ]:
# University exam tips


# Always give Python Examples even if it is not explicitly mentioned
# (14 marks - 8 points python code + 6 explanation)

# Syntax + Logic (6 = 3 + 3)

# List - ordered, create, append, indexing, update, slicing, sorting
# Tuple - ordered, create, indexing, slicing, 
# Sets - unordered, Unique elements, is not subscriptable (no indexing), no item assignment, add

**9 Feb 2022**

In [ ]:
# University questions - Factorial, checking prime or not, fibonacci

In [ ]:
# Factorial
'''
n
0! = 1
n! = n * n-1 * n-2 ...*1

4! = 1*2*3*4  = 24
5! = 1*2*3*4*5 = 120 '''

In [ ]:
def get_factorial(n):
  fact = 1
  for i in range(1, n+1): # i = 1,2,3,..n
     fact *= i
  return fact


get_factorial(5)
get_factorial(4)
get_factorial(6)
get_factorial(0)

1

In [ ]:
# Prime or not
'''we call a number as prime if it has exactly 2 factors - 1 and the number itself
1 - 1 -> not prime
2 -> 1, 2 -> prime
7 -> 1, 7 -> prime
6 -> 1, 2, 3, 6 -> not prime
.'''

In [ ]:
def is_prime(num):
  if num <= 1:
    return False
  factors_count = 0
  for i in range(1, num +1):
    if num % i == 0:
      factors_count += 1
  return factors_count == 2
  # if factors_count == 2:
  #   return True
  # else:
  #   return False

is_prime(2)
is_prime(3)
is_prime(4)
is_prime(97)

True

In [ ]:
# Fibonacci series
# 1,1,2,3,5,8,13...

# first n fibonacci numbers
def fibonacci(n):
  a = 1
  b = 1
  print(a)
  print(b)
  for i in range(n-2):
    c = a + b
    a = b
    b = c
    print(c)

fibonacci(6)

1
1
2
3
5
8

**11 Feb 2022**

In [ ]:
# Functions
'''
* Simple 
* Reuse code - prevent repetition
* Abstraction - They hide all the complexities behind a simple function. Hiding how to do it from what to do.

'''

1.0

In [ ]:
# "syntax"
#def fun_name(args)

In [ ]:
# Required arguments or positional argument
def get_difference(a, b):
  return a - b

get_difference(5,2)
get_difference(2,5)
get_difference(3,2,5) # number of argumkents exact match while calling

TypeError: ignored

In [ ]:
def get_difference(a, b=0): # default args should be at the end
  return a - b

get_difference(3,1)

2

In [ ]:
def print_data(name, number, age):
  print(name + '.')
  print(number + 1)

print_data(number=150,name='Sreeragh', age=20) # keyword arguments - position is not a problem - but number of arguments should match
print_data(number=150,name='Sreeragh')

Sreeragh.
151

TypeError: ignored

In [ ]:
# Variable length of arguments

def get_sum(*numbers):
  
  return sum(numbers)



get_sum(1,2)
get_sum(1,2,3)
get_sum(1,5,8,9)

23

In [ ]:
# Combine positional and variable

def print_details(name, *marks):
  print(name)
  print(marks)

print_details('John', 100,99)
print_details('Vishnu', 100,95,87)

John
(100, 99)
Vishnu
(100, 95, 87)

In [ ]:
a = [1,2,3,9]
sum(a)

15

In [ ]:
# Higher  order function

def combine_str(a,b):
  print('Function')
  return a+b

def special_combine(a,b):
  return a + '_' + b

def get_fullname(first_name, last_name, fun1):
  return fun1(first_name, last_name)

get_fullname('Abc', 'def', combine_str)
get_fullname('Abc', 'def', special_combine)

'Abc_def'

In [ ]:
# Lambda function
# Anonymous function - can be used with higher order functions
# arguments, expression
# no print statements allowed
# Can only return one item - cannot return  multiple
get_fullname('Abc', 'def', lambda a,b: a+b)

'Abcdef'

In [ ]:
def square(x):
  return x*x

old_list = [1,2,7,4]
list(map(square, old_list) )# 
 
list(map(lambda x:x*x, old_list))

[1, 4, 49, 16]

In [ ]:
def get_result(a):
  b = a + 6
  return a,b

get_result(5)

(5, 11)

In [ ]:
get_lambda_result = lambda a: a
get_lambda_result(5)

5

In [ ]:
# Python builtin
# sum (iterable)
lis = [1,25,30,4,30]
string = 'abcac'

sum(lis)
# count
lis.count(30)
string.count('b')

# max and min
max(lis)
min(lis)

# search in list
lis.index(30) # return index of first appearance
# lis.index(5) # index error

# search in string - index and find
string.index('a')

string.find('z') # return -1 if element not present
string.index('z')

ValueError: ignored

In [ ]:
'abc' + 'def'

'abcdef'